# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de caché
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Bases de datos locales
*.sqlite3
*.db

# Archivos temporales
*.tmp
*.temp